/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pad-border{
    padding-left: 10vw;
    padding-right: 10vw;
}

.title{
    text-align: center;
}

h1{
    color: rgb(226, 48, 111);
    font-size: 3rem;
    font-weight: 800;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.title p{
    font-size: 1.3rem;
}

img{
    float: left;
    height: 150px;
}

.card{
    float: left;
    color: white;
    background-color: rgb(15, 14, 23);
    width: 30%;
    height: 150px;
    margin: 30px 20px;
}
